<% if product.genre.is_active == "Availble" %>
  <div class="product-container">
    <%= link_to product_path(product.id), class: "btn-link", :style=>"color:#0099FF;" do %>

      <div id="img_field" class="product">
        <%= attachment_image_tag(product, :image, size: "180x130", fallback: "no_image.jpg") %>
      </div>

      <p class="product-name">
        <%= product.name %>
      </p>
    <% end %>

    <% if product.is_active == true %>
      <p>¥<%= product.including_tax(:delimited) %></p>
    <% elsif product.is_active == false %>
      <p>売り切れ中</p>
    <% end %>
  </div>
<% end %>
